.home .vector {
  width: 44.7px;
  height: 54px;
}
.home 
.home .line-1 {
  background: #B2A89E;
  position: absolute;
  top: 4px;
  right: 107px;
  width: 41px;
  height: 1px;
}
.home .sunday-may-8-th-2024-reservations-are-accepted-from-1030-am-245-pm {
  position: relative;
  margin-bottom: 22px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #939393;
}
.home .brunch-details-menu {
  margin-right: 5px;
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 10px;
  color: #F45454;
}
.home .arrow-2 {
  background: #F45454;
  margin: 7px 0 6px 0;
  width: 11px;
  height: 1px;
}
.home .rectangle-6 {
  background: #365E7C;
  position: absolute;
  left: 50%;
  top: 259px;
  translate: -50% 0;
  width: 714px;
  height: 49px;
}
.home .star-rated-across-3000-reviews {
  position: relative;
  margin-right: 7px;
  width: 239px;
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 10px;
  color: #FFFFFF;
}
.home .google {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 10px;
  color: #DCB894;
}
.home .facebook {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 10px;
  color: #DCB894;
}
.home .open-table {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 10px;
  color: #DCB894;
}
.home .tripadvisor {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 10px;
  color: #DCB894;
}
.home 
.home 
.home .reserve-atable {
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 10px;
  color: #FFFFFF;
}
.home .browse-the-menu {
  margin: 14px 4.5px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 10px;
  color: #F45454;
}
.home .arrow-1 {
  background: #F45454;
  margin: 20px 0;
  width: 11px;
  height: 1px;
}
.home 
.home {
  background: #C2C2C2;
  display: flex;
  flex-direction: row;
  width: 1200px;
  box-sizing: border-box;
}
.home .container {
  background: #F3F0EA;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 38px 55px 71px 44px;
  width: 778px;
  height: fit-content;
  box-sizing: border-box;
}
.home .container-1 {
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home .container-2 {
  margin: 0 0 13px 10px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.home .rectangle-2 {
  background: rgba(80, 124, 159, 0.66);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.home .lero {
  transform: rotate(-12deg);
  position: relative;
  margin: 0 13.7px 64px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Italianno';
  font-weight: 400;
  font-size: 60px;
  color: #B9A38B;
}
.home .super {
  position: absolute;
  top: 98px;
  right: 36px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #B9A38B;
}
.home .club {
  position: absolute;
  top: 110px;
  right: 57.8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #B9A38B;
}
.home .menus-specials {
  margin-right: 3px;
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
}
.home .polygon-1 {
  margin: 9px 0 5px 0;
  width: 8px;
  height: 5px;
}
.home .private-dining {
  margin-right: 3.6px;
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
}
.home .polygon-2 {
  margin: 9px 0 5px 0;
  width: 8px;
  height: 5px;
}
.home .holidays-events {
  margin-right: 3.4px;
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
}
.home .polygon-3 {
  margin: 9px 0 5px 0;
  width: 8px;
  height: 5px;
}
.home .supper-club-experience {
  margin: 0 0 13px 7.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
}
.home .live-jazz {
  margin: 0 0.3px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
}
.home .for-theatergoers {
  margin: 0 0 13px 12.1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
}
.home .martini-week {
  margin: 0 0.4px 23px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
}
.home .reservations {
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.home .image-1 {
  background: url('../assets/images/image1.png') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 961px;
  height: 398px;
}
.home .container-3 {
  margin-bottom: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 181.5px;
  box-sizing: border-box;
}
.home .container-4 {
  margin-left: 425px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.home .container-5 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home 
.home .container-7 {
  margin-right: 1.3px;
  display: flex;
  flex-direction: row;
  width: 34.3px;
  box-sizing: border-box;
}
.home .pm-today-loungetil-1130-pm {
  position: relative;
  margin: 0 0 2px 13.2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 10px;
  color: #FFFFFF;
}
.home .full-schedule {
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 10px;
  color: #DCB894;
}
.home .ellipse-1 {
  border-radius: 0.5px;
  background: #D9D9D9;
  position: absolute;
  left: 112px;
  bottom: 331px;
  width: 1px;
  height: 1px;
}
.home .google-map {
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 10px;
  color: #DCB894;
}
.home .location-address-gps-place-pointer-icon-1 {
  background: url('../assets/images/locationAddressGpsPlacePointerIcon1.png') 50% / cover no-repeat;
  margin: 0 2px 1px 0;
  width: 13px;
  height: 13px;
}
.home .container {
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 10px;
  color: #DCB894;
}
.home .mobile-phone-screen-smart-icon-1 {
  background: url('../assets/images/mobilePhoneScreenSmartIcon1.png') 50% / cover no-repeat;
  margin: 1px 0;
  width: 11px;
  height: 12px;
}
.home .instagram-icon-1 {
  margin: 0px 4.8px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10.5px;
  height: 10.5px;
  box-sizing: border-box;
}
.home .group {
  width: 10.5px;
  height: 10.5px;
}
.home .facebook-icon-1 {
  margin: 0 4.9px 0.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 5.1px;
  height: 10.2px;
  box-sizing: border-box;
}
.home .vector-4 {
  width: 5.1px;
  height: 10.2px;
}
.home .tiktok-icon-1 {
  margin-bottom: 0.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 9px;
  height: 10px;
  box-sizing: border-box;
}
.home .vector-5 {
  width: 9px;
  height: 10px;
}
.home .clock-hour-ticker-time-times-icon-1 {
  background: url('../assets/images/clockHourTickerTimeTimesIcon1.png') 50% / cover no-repeat;
  margin: 2px 3px 2px 0;
  width: 10px;
  height: 10px;
}
.home .nstate-st-chicago-il-60654 {
  margin: 0 1.6px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 10px;
  color: #FFFFFF;
}
.home .valet-free-for-pre-theater-dining {
  position: relative;
  margin: 0 0 10px 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Kaisei HarunoUmi';
  font-weight: 400;
  font-size: 10px;
  color: #FFFFFF;
}
.home .ellipse-2 {
  border-radius: 0.5px;
  background: #D9D9D9;
  position: absolute;
  left: 76px;
  bottom: 276px;
  width: 1px;
  height: 1px;
}
.home 
.home .container-9 {
  background: #3F617B;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 44px 23.5px 223.5px 23.5px;
  width: 239px;
  box-sizing: border-box;
}
.home 
.home .container-11 {
  margin: 0 0 13px 11px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.home .container-12 {
  margin: 0 0 12px 18px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.home .container-13 {
  position: relative;
  margin-top: 371px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 91px 170px 92px;
  width: 961px;
  height: fit-content;
  box-sizing: border-box;
}
.home 
.home .container-15 {
  margin: 0 5.8px 10px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.home .container-17 {
  background: url('../assets/images/image2.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 277px 0 138px 0;
  box-sizing: border-box;
}
.home .container-18 {
  border-radius: 7px;
  background: #DCB894;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px 18.2px 15px 17px;
  box-sizing: border-box;
}